@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================================================================== */
/* ======================================== ANTD IMPORT ======================================== */
/* ============================================================================================== */
@import '~antd/dist/antd.css';

/* ============================================================================================== */
/* ======================================== ROOT CLASSES ======================================== */
/* ============================================================================================== */
@layer base {
	html,
	body,
	#root {
		width: 100vw;
		height: 100vh;
		font-family: 'Sofia Pro';
		font-weight: 400;
		overscroll-behavior: none;
	}
}

@layer components {
	h1,
	h2,
	h3,
	p,
	div {
		@apply text-[40px] !leading-snug;
	}
}

/* ============================================================================================= */
/* ======================================= TIMELINE ITEM ======================================= */
/* ============================================================================================= */
.ant-timeline-item {
	width: 100%;
	display: flex;
	padding: 0px;
}

.ant-timeline-item-label {
	width: 400px !important;
	margin: 0px !important;
}
.ant-timeline-item-tail {
	top: 84px;
	left: 422.5px;
	height: calc(100% - 120px);
	border-left: 3px solid #bfbfbf;
}
.ant-timeline-item-head {
	position: relative;
	width: 48px;
	height: 48px;
	margin: 0px !important;
}
.ant-timeline-item-content {
	width: calc(100% - 448px) !important;
	margin: 0px !important;
	padding-left: 36px !important;
}
