@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================================================================== */
/* ======================================== ROOT CLASSES ======================================== */
/* ============================================================================================== */
@layer base {
	html,
	body,
	#root {
		width: 100vw;
		height: 100vh;
		font-family: 'Sofia Pro';
		font-weight: 400;
		overscroll-behavior: none;
	}
}
